{% extends "base.html" %}
{% block content %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />


<script type="text/javascript">


</script>

<style type="text/css">
  table, tr, td {border: 0px solid silver; }
  tr.noBorder td {border: 0; }
</style>

</head>
<body>

    <div id="container" class="width">
            <div id="paper" class="shadow">
                <form method="post" name="example form" >
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td colspan="3" style="background-color:#145d84">
                                <h4 style="text-align:center; color:white">Examination Center</h4>

                            </td>
                        </tr>
                        {% if examdata %}
                        {% for examdata in examdata %}
                        <tr>
                            <td align="left"><b><strong style="color:black">Subject:</strong> {{ examdata.SubjectID }}</b></td>
                            <td align="left"><b>{{ examdata.ExamName }}</b></td>
                            <td align="right"><b><strong style="color:black">Time:</strong> {{ examdata.TimePeriod }} (Hours)</b></td>
                        </tr>
                        {% endfor %}

                        {% else %}
                        <tr>
                            <td colspan="3">
                                <strong>There are no exam data present.</strong>
                            </td>
                        </tr>
                        {% endif %}
                            {% if userresult %}
                            {% with total=0 %}
                            {% for questionset1 in userresult %}
                            <tr >
                                <td colspan="3">
                                    <div style=" border: 1px solid silver; color:#1f4fae">
                                        <table border="1px">
                                            <tr style="border-bottom: 1px solid silver">
                                                <td colspan="2">
                                                    <b style="margin-left:0"><strong style="color:black">Que {{ forloop.counter }} :</strong> {{ questionset1.Question }}</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="margin-left:5%"><strong style="color:black">A:</strong> {{ questionset1.A }}</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="margin-left:5%"><strong style="color:black">B:</strong> {{ questionset1.B }}</b></td>
                                            </tr>
                                            <tr >
                                                <td colspan="2"><b style="margin-left:5%"><strong style="color:black">C:</strong> {{ questionset1.C }}</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><b style="margin-left:5%"><strong style="color:black">D:</strong> {{ questionset1.D }}</b></td>
                                            </tr>
                                            <tr style="border-top: 1px solid silver">
                                                <td align="left"><b><strong style="color:black">Your Answer:</strong> {{ questionset1.CheckAnswer }} </b></td>
                                                <td align="right"><b><strong style="color:black">Correct Answer:</strong> {{ questionset1.CorrAnswer }}</b></td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                        {% endwith %}
                        <tr>
                            <td colspan="3" align="center"><input id="btnDashboard" type="button" value="Back To Dashboard" onclick="location.href='http://www.hemantkshirsagar.in/Dashboard/'" /></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">
                                <strong>There are no question data present.</strong>
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    </form>
                <div class="clear"></div>
        </div>
        </div>
</body>
</html>

{% endblock %}