<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hemant Kshirsagar</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hemant Kshirsagar">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.css">


    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/styles.css">

</head>

<body>
    <!-- ******HEADER****** -->

    <header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src="/static/assets/images/pro.png" alt="James Lee" />
            <div class="profile-content pull-left">
                <h1 class="name">Hemant Kshirsagar</h1>
                <h2 class="desc">Application Programmer, Data Science student</h2>
                <ul class="social list-inline">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/hemant-kshirsagar-31796279"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="mailto:hemantkshirsagar8@gmail.com" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
        </div><!--//container-->
    </header><!--//header-->

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Individual work</h2>
                        <div class="content">
                            <div class="item featured text-center">
                                <h3 class="title"><a href="https://play.google.com/store/apps/details?id=com.andromo.dev535353.app492757" target="_blank">1. MPSC Sarav</a></h3>
                                <div class="featured-image">
                                    <iframe width="100%" height="315"
                                        src="http://www.youtube.com/embed/cydBCcIocfA">
                                    </iframe>
                                    <div class="ribbon">
                                        <div class="text">New</div>
                                        </div>
                                    </div>
                                <a class="btn btn-cta-secondary" href="https://play.google.com/store/apps/details?id=com.andromo.dev535353.app492757" target="_blank"><i class="fa fa-thumbs-o-up"></i> Download Now!</a>
                                <div class="desc text-left">
                                    <p>'MPSC Sarav' will be useful application for MPSC exam practice. It will keep updated time-table, news, articles and general knowledge info. Latest exam papers for all divisions can be available for reference & download.</p>
                                    <p>We have identified possible useful informative MPSC internet links and kept in single place, for better use.</p>
                                    <p>It will use latest information from useful MPSC related sites and Loksatta news paper. This will be free and non profit application, useful only for MPSC exam practice and exam related latest info in Marathi.</p>
                                </div><!--//desc-->
                            </div><!--//item-->


                        </div><!--//content-->

                        <div class="content">

                            <div class="item featured text-center">
                                <h3 class="title"><a href="#" target="_blank">2. MPSC Spardha Mitra</a></h3>
                                <div >
                                    <iframe width="100%" height="315"
                                        src="https://www.youtube.com/embed/Jelxt4MQ7io">
                                    </iframe>
                                <div class="desc text-left">
                                    <p>This is a open source Python MVC Django based web application. Created to make ease of for regional Marathi students, preparing for MPSC exam</p>
                                    <p>This is a Demo Video and your valuable thoughts are welcomed to improve its quality and reliability. This is automated application built for any kind of regional language and exam preparation.</p>
                                </div><!--//desc-->
                                <a class="btn btn-cta-secondary" href="#" target="_blank"><i class="fa fa-thumbs-o-up"></i> Check now!</a>
                            </div><!--//item-->


                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Team Lead - <span class="place"><a href="https://www.persistent.com/">Persistent Systems Ltd.</a></span> <span class="year">(Jan 2015 - Present)</span></h3>
                                <p>Develope and restructure web applications. Worked with various IBM projects for PoC, application developement and programming.</p>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"> Senior Systems Engineer - <span class="place"><a href="https://www.infosys.com/">Infosys Ltd.</a></span> <span class="year">(Nov 2011 - Jan 2015)</span></h3>
                                <p> Design and develop web applications for various BMW regional app. Mainly for BMW Financial Services application from Australia, New Zealand, Japan, Russia, South Africa and India.</p>
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="title">PCD Engineer - <span class="place"><a href="https://www.imgtec.com/">Imagination Technology</a></span> <span class="year">(Mar 2009 - Nov 2011)</span></h3>
                                <p>Worked for various internet radio streaming applications using DAB (Digital Audio Broadcasting). Design and developed application using Python-Django MVC framework. </p>
                            </div><!--//item-->

                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Pune, IN</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:hemantkshirsagar8@gmail.com">hemantkshirsagar8@gmail.com</a></li>
                                <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.hemantkshirsagar.in</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//aside-->

                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <div class="skillset">

                                <div class="item">
                                    <h3 class="level-title">R Language<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="R Language">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">IBM Watson API<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="IBM Watson API">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->


                                <div class="item">
                                    <h3 class="level-title">Certified Ethical Hacker<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Certified Ethical Hacker">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="85%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">C# Programmer<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="C# Programmer">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Microsoft Certified MVC Developer<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Microsoft Certified MVC Developer">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="94%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">SQL Server, DB2, MySQL<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="SQL Server, DB2, MySQL.">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="80%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">WinRT/WIN32<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="WinRT/WIN32">Beginner</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="60%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Android development<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Android development">Intermediate</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="70%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->

                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Python Django">Expert</span></h3>
                                    <div class="level-bar">
                                        <div class="level-bar-inner" data-level="96%">
                                        </div>
                                    </div><!--//level-bar-->
                                </div><!--//item-->
                            </div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
    <!-- Javascript -->
    <script type="text/javascript" src="/static/assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/static/assets/js/main.js"></script>
</body>
</html>

