<!DOCTYPE html>
<html lang="en">
<head>
<title>Teachers</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/site/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/site/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/site/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="/static/site/js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="/static/site/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/site/js/cufon-replace.js"></script>
<script type="text/javascript" src="/static/site/js/Molengo_400.font.js"></script>
<script type="text/javascript" src="/static/site/js/Expletus_Sans_400.font.js"></script>

</head>
<body id="page4">
<div class="body1">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
				<nav>
					<ul id="menu">
						<li><a href="/index">About</a></li>
						<li><a href="/Courses">Courses</a></li>
						<li><a href="/Programs">Articles</a></li>
						{% if user.username %}
							<li><a href="/Dashboard">Dashboard</a></li>
							{% endif %}
						<li><a href="/Teachers">Teachers</a></li>
						<li><a href="/Admissions">Admissions</a></li>
						<li class="end"><a href="/Contacts">Contacts</a></li>
					</ul>
				</nav>
				{% if user.username %}
					<div style="font-family:'Arial Rounded MT'; font-size:small; color:wheat; text-align:right">
                    <b>Welcome {{ user.username }} ! <a href="/logout/" style="color:red">Logout</a></b>
					</div>
					{% endif %}
				<ul id="icons">
					<li><a href="#"><img src="/static/site/images/icons1.jpg" alt=""></a></li>
					<li><a href="#"><img src="/static/site/images/icons2.jpg" alt=""></a></li>
				</ul>
			</div>
			<div class="wrapper">
				<h1><a href="/" id="logo">Learn Center</a></h1>
			</div>
			<div id="slogan">
				We Will Open The World<span>of knowledge for you!</span>
			</div>
		</header>
<!-- / header -->
	</div>
</div>
<div class="body2">
	<div class="main">
<!-- content -->
		<section id="content">
			<div class="box1">
				<div class="wrapper">
					<article class="col1">
					    <br />
						<div class="pad_left1">
							<a href="#" class="button"><span><span> शिक्षकाविषयी थोडे </span></span></a>
							<br/>
						</div>
						<br />
						<div class="wrapper pad_bot2">
							<figure class="left marg_right1"><img src="/static/site/images/page4_img1.jpg" alt=""></figure>
							<p class="pad_top2"><strong>माझ्या बद्दल थोडे </strong><br>
							वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.
							वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.
									वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.</p>

						</div>
						<div class="wrapper pad_bot2">
							<figure class="left marg_right1"><img src="/static/site/images/page4_img2.jpg" alt=""></figure>
							<p class="pad_top2"><strong>माझ्या बद्दल थोडे </strong><br>
							वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.
							वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.
							वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.</p>

						</div>
						<div class="wrapper">
							<figure class="left marg_right1"><img src="/static/site/images/page4_img3.jpg" alt=""></figure>
							<p class="pad_top2"><strong>माझ्या बद्दल थोडे </strong><br>
								वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.
								वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.	 वनवास, शारदा संगीत सारखी मराठी साहित्यातील अभिजात कलाकृती लिहिणारे लेखक प्रकाश नारायण संत (भालचंद्र दिक्षित) यांच्या पश्च्यात त्यांच्या पत्नीने, सुप्रिया दीक्षित (पूर्वाश्रमीच्या सुधा नंदगडकर) यांनी लिहिलेले हे आत्मचरित्र.</p>
						</div>
					</article>
					<article class="col2 pad_left2">

					    <br />
						<div class="pad_left1">
							    <a href="#" class="button"><span><span> महत्वाच्या लिंक्स </span></span></a>
                                <br />
							</div>
							<br />
							<ul class="list1">
								<li><a href="#">परीक्षेविषयी सुचना </a></li>
								<li><a href="#">वेळापत्रक </a></li>
								<li><a href="#">महत्वाच्या तारखा आणि नोंदी </a></li>
								<li><a href="#">क्लास्सेस आणि फीस </a></li>
								<li><a href="#">मागील वर्षाचे पेपर </a></li>
							</ul>
						<div class="pad_left1">
							<h2>मनोगत</h2>
							<p class="quot">
								<span><strong><a href="#">नगराळे सर</a></strong></span>
								<span class="color1">लेक्चरर</span>
								<span class="color2 pad_bot1">Company Name</span>
								नमस्कार,
आंतरजाल हे सामान्य जनमानसाला उपलब्ध असलेलं अत्यंत प्रभावी माध्यम आहे.
							</p>
					</article>
				</div>
			</div>
		</section>
<!-- content -->
<!-- footer -->
		<footer>
			<div class="wrapper">
				<div class="pad1">
					<div class="pad_left1">

					</div>
				</div>
			</div>
		</footer>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>