{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    

    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    
</head>
<body>
    <div id="container" class="width">

        <header>
            <div class="width">
                
                  
                

                <h1><a href='@Url.Action("Home","Home")'>Nagarale<strong>Tutions</strong></a></h1>
                <nav>

                    <ul class="sf-menu dropdown">

                        <li class="selected"><a href='@Url.Action("Home","Home")'><i class="fa fa-home"></i> Home</a></li>

                        @*<li>
                            <a href="examples.html"><i class="fa fa-code"></i> Style examples</a>

                            <ul>
                                <li><a href="three-column.html">Three Column</a></li>
                                <li><a href="one-column.html">One Column</a></li>
                                <li><a href="text.html">Text page</a></li>
                            </ul>

                        </li>*@
                        <li><a href='@Url.Action("AboutUs", "Home")'><i class="fa fa-briefcase"></i> About Us</a></li>

                            @if (Session["LoggedUserFullName"] != null && @Session["LoggedUserType"] != null)
                            {
                                <li>
                                    <a href='@Url.Action("Index","Exam")'><i class="fa fa-database"></i> Exam</a>

                                    @*<ul>
                                        <li><a href="#">Student Detail</a></li>
                                        <li><a href="#">Role</a></li>
                                        <li><a href="#">Paper</a></li>
                                    </ul>*@

                                </li>
                            }
                        

                        <li><a href='@Url.Action("ContactUs","Home")'><i class="fa fa-phone"></i> Contact</a></li>
                    </ul>

                    <div class="clear"></div>
                </nav>
            </div>
            <div class="clear"></div>


        </header>

        @*<div id="intro">
            <div class="width">

                <div class="intro-content">

                    <h2>Tristique sem vitae metus ornare </h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

                    <p>
                        <a href="#" class="button button-slider"><i class="fa fa-gbp"></i> Lorem ipsum dolor</a>
                        <a href="#" class="button button-reversed button-slider"><i class="fa fa-info"></i> Consectetuer adipiscing</a>
                    </p>


                </div>

            </div>

        </div>*@

        <div id="body" class="width">
            

            <section id="content" class="two-column with-right-sidebar">
                <article>
                    @RenderBody()                    
                </article>                
            </section>

            <aside class="sidebar big-sidebar right-sidebar">


                <ul>
                    <li>                        
                        <ul class="blocklist">
                            <li><a class="selected" href='@Url.Action("Login","Auth")'>Login\Register</a></li>
                            
                        </ul>
                    </li>

                    <li>
                        <h4>Notifications</h4>
                        <ul class="newslist">
                            <li>
                                <p>
                                    <span class="newslist-date">Jul 21</span>
                                    Quisque hendrerit lorem sit amet dui viverra dictum. Phasellus imperdiet magna sit amet arcu tristique ultricies ut in dui.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="newslist-date">May 09</span>
                                    Mauris et felis semper, congue dui ac, iaculis ipsum. Fusce non rhoncus risus, quis luctus nisl. Donec vitae velit tincidunt, tincidunt felis eu, suscipit nibh.
                                </p>

                            </li>
                        </ul>
                    </li>


                </ul>

            </aside>
            <div class="clear"></div>
        </div>
        <footer>
            <div class="footer-content width">

                <ul class="endfooter">                   
                    <li>
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                    </li>
                </ul>

                <div class="clear"></div>
            </div>
            <div class="footer-bottom">
                <p>&copy; Nagarale Tutions 2014. <a href="#"></a> </p>
            </div>
        </footer>
    </div>
</body>
</html>