{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Yavatmal Mitra Spardha</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/site/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/site/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/site/css/style.css" type="text/css" media="all">
<script type="text/javascript" src="/static/site/js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="/static/site/js/cufon-yui.js"></script>
<script type="text/javascript" src="/static/site/js/cufon-replace.js"></script>
<script type="text/javascript" src="/static/site/js/Molengo_400.font.js"></script>
<script type="text/javascript" src="/static/site/js/Expletus_Sans_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/site/js/html5.js"></script>
<style type="text/css">
	.bg, .box2 {behavior:url(js/PIE.htc)}
</style>
<![endif]-->
<!--[if lt IE 7]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="/static/site/http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
		<img src="/static/site/http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
	</div>
<![endif]-->
</head>
<body id="page5">
<div class="body1_1">
	<div class="main">
<!-- header -->
		<header>
			<div class="wrapper">
			
				<nav>
					<ul id="menu">
						<li><a href="/index">About</a></li>
						<li><a href="/Courses">Courses</a></li>
						<li><a href="/Programs">Programs</a></li>
						{% if user.username %}
							<li><a href="/Dashboard">Dashboard</a></li>
							{% endif %}
						<li><a href="/Teachers">Teachers</a></li>
						<li><a href="/Admissions">Admissions</a></li>
						<li class="end"><a href="/Contacts">Contacts</a></li>
					</ul>
				</nav>
				{% if user.username %}
					<div style="font-family:'Arial Rounded MT'; font-size:small; color:wheat; text-align:right">
                    <b>Welcome {{ user.username }} ! <a href="/logout/" style="color:red">Logout</a></b>
					</div>
					{% endif %}
				<ul id="icons">
					<li><a href="#"><img src="/static/site/images/icons1.jpg" alt=""></a></li>
					<li><a href="#"><img src="/static/site/images/icons2.jpg" alt=""></a></li>
				</ul>
				<div class="wrapper">
					<h1><a href="/index" id="logo">Learn Center</a></h1>
				</div>
				<div id="slogan">
					We Will Open The World<span>of knowledge for you!</span>
				</div>
			</div>
			
		</header>		
<!-- / header -->
	</div>
</div>
<div class="body2">
	<div class="main">
<!-- content -->
		<section id="content">
			<div class="box1">
				<div class="wrapper">
				<table class="table">
                <tr>
					<td>
                        <b>Exams</b>
                        <div class="shadow" style="height:60%">
                            <div class="content">                       
                                <div class="CSSTableGenerator">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                Exam Name
                                            </td>
                                            <td>
                                                Subject
                                            </td>
                                            <td>
                                                Created Date
                                            </td>
                                        </tr>
                                        {% if examdata %}
                                        {% for examdata in examdata %}
                                        <tr>
                                            <td>
                                                <a href="/appear_exam/{{ examdata.ExamID }}/">{{ examdata.ExamName }}</a> </td>
                                            <td>
                                                {{ examdata.SubjectID }}
                                            </td>
                                            <td>
                                                {{ examdata.CreateDate }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="3">
                                                <strong>There are no exam data present.</strong>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>                                
                            </div>
                        </div>
                    </td>
                    <td>
                        <b>Notifications</b>
                        <div class="shadow" style="height:100%">
                            <div class="content">
                                <div class="CSSTableGenerator">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                Notifications
                                            </td>
                                        </tr>
                                        {% if notifications %}
                                        {% for notification in notifications %}
                                        <tr>
                                            <td style="color:green">
                                                {{ notification.Notification }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <strong>There are no notification present.</strong>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <b>My Results</b>
                        <div class="shadow" style="height:60%">
                            <div class="content">                                
                                <div class="CSSTableGenerator">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                Exam Name
                                            </td>
                                            <td>
                                                Subject
                                            </td>
                                            <td>
                                                Marks
                                            </td>
                                            <td>
                                                Final Result
                                            </td>
                                            <td>
                                                Created Date
                                            </td>
                                        </tr>
                                        {% if resultdata %}
                                        {% for resultdata in resultdata %}
                                        <tr>
                                            <td>
                                                {{ resultdata.ExamID }}
                                            </td>
                                            <td>
                                                {{ resultdata.SubjectID }}
                                            </td>
                                            <td>
                                                To be calculate.
                                            </td>
                                            <td>
                                                To be calculate.
                                            </td>
                                            <td>
                                                {{ resultdata.CreateDate }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="5">
                                                <strong>There are no result data present.</strong>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
					<td>
                        <b>My Profile</b>
                        <div class="shadow" style="height:60%">
                            <div class="content">
                                <div class="CSSTableGenerator">
                                    <table border="0">
                                        <tr>
                                            <td>
                                                Student Information
                                            </td>
                                        </tr>
                                        {% if userdata %}
                                        <tr><td><u> तुमच सांकेतिक नाव:</u>       {{ userdata.username }}</td></tr>
                                        <tr><td><u> प्रथम नाव:</u>     {{ userdata.first_name }}</td></tr>
                                        <tr><td><u> आडनाव:</u>      {{ userdata.last_name }}</td></tr>
                                        <tr><td><u> इ-मेल:</u>   {{ userdata.email }}</td></tr>
                                        {% else %}
                                        <strong>There are no such user present.</strong>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>                    
                </tr>
            </table>
				</div>
			</div>
		</section>	
<!-- content -->
<!-- footer -->
		<footer>
			<div class="wrapper">
				<div class="pad1">
					<div class="pad_left1">
						<div class="wrapper">
							<article class="col_1">
									<h3>Address:</h3>
									<p class="col_address"><strong>Country:<br>
											City:<br>
											Address:<br>
											Email:</strong></p>
									<p>India<br>
											Yavatmal<br>
											Dehankar Layout<br>
											<a href="mailto:">admin@mail.com</a></p>
								</article>
							<article class="col_2 pad_left2">
								<h3>Join In:</h3>
								<ul class="list2">
									<li><a href="#">Sign Up</a></li>
									<li><a href="#">Forums</a></li>
									<li><a href="#">Promotions</a></li>
									<li><a href="#">Lorem</a></li>
								</ul>
							</article>
							<article class="col_3 pad_left2">
								<h3>Why Us:</h3>
								<ul class="list2">
									<li><a href="#">Lorem ipsum dolor </a></li>
									<li><a href="#">Aonsect adipisic</a></li>
									<li><a href="#">Eiusmjkod tempor </a></li>
									<li><a href="#">Incididunt ut labore </a></li>
								</ul>
							</article>
							<article class="col_4 pad_left2">
								<span class="call1">Call Us Now: </span><span class="call2">+91-9975410908</span>
							</article>
						</div>						
					</div>
				</div>
			</div>
		</footer>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
{% endblock %}